{% extends "::layout.html.twig" %}

{% block body_left %}
	<div class="search">
		<input type="text" name="search" class="round" />
	</div>
	<div class="results">
		{% for race in races %}
			<div class="element">
				<img scr="{{ asset('img/' ~ race.profile.src ~ '') }}" />
				<img src="{{ asset('img/' ~ race.flag.src ~ '') }}" />
				<h2><a href="{{ path('tv_core_edit_race', {'id': race.id}) }}">{{ race.name }}</a></h2>
				<p>{{ race.date|date }}</p>
				<p>{{ race.classification.name }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block body_right %}
	{{ form(form) }}
{% endblock %}